@use '../../../styles/abstracts' as *;

.dataTable {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   .tableContainer {
      width: 100%;
      height: calc(100% - 30px);
      display: flex;
      justify-content: center;
      align-items: center;

      .tableWrapper {
         width: 100%;
         height: 100%;

         table {
            width: 100%;
            height: auto;
            border-collapse: collapse;
            table-layout: fixed;
            font-size: 15px;
            border-bottom: 1px solid $typography-primary;

            th {
               padding: 12px;
            }

            td {
               padding: 12px;
               word-break: break-all;

               span {
                  display: flex;
                  justify-content: center;
                  width: 150px;
                  padding: 9px 0;
                  border: 1px solid $typography-primary;
                  border-radius: 9px;
                  color: $white;
                  font-size: 15px;
                  font-weight: bold;

                  &.active {
                     background-color: $active;
                  }

                  &.inactive {
                     background-color: $inactive;
                  }
               }
            }

            .tableHead {
               font-size: $tableTitles;
               font-weight: bold;
               border-bottom: 1px solid $typography-primary;

               &.miniTable {
                  font-size: 15px;
               }
            }

            .tableRow {
               border-bottom: 0.5px solid $typography-primary;
               // cursor: pointer;

               td {
                  .icon {
                     cursor: pointer;

                     &:active {
                        transform: scale(1.2);
                     }

                     &:hover {
                        color: $navbar;
                     }
                  }
               }

               &.active {
                  background-color: $gray-300;
               }
            }
         }

         &.miniTable {
            height: 100%;
            overflow: auto;

            thead {
               position: sticky;
               top: 0;
               background-color: $primary;
               border-bottom: 1px solid $typography-primary;
               z-index: 9;

               tr {
                  .dark {
                     background-color: $dark-primary;
                  }
               }
            }

            .dark {
               border-bottom: 1px solid $white;
            }
         }
      }

      &.miniTable {
         height: 100%;
      }
   }

   .tableFooter {
      width: 100%;
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 9px;
      margin-top: 9px;
      font-size: 15px;
      font-weight: bold;

      &.miniTable {
         display: 'none';
      }

      .buttonTable {
         cursor: pointer;

         &:hover {
            color: $third;
         }

         &:active {
            transform: scale(1.2);
            transition: $transitionsAll;
         }
      }
   }

   // Media Query's

   @include media('<LGtablet') {
      .tableContainer {
         .tableWrapper {
            overflow-x: scroll;
         }
      }
   }

   @include media('<phone') {
      .tableContainer {
         height: calc(100% - 9px);

         .tableWrapper {
            table {
               font-size: 12px;

               th {
                  padding: 9px;
               }

               td {
                  padding: 6px;

                  span {
                     width: 120px;
                     font-size: 15px;

                     &.active {
                        background-color: $active;
                     }

                     &.inactive {
                        background-color: $inactive;
                     }
                  }
               }
               .tableHead {
                  font-size: 15px;
               }

               .tableRow {
                  font-size: 12px;
               }
            }
         }
      }

      .tableFooter {
         height: 12px;
         margin-top: 6px;
         font-size: 12px;
      }
   }

   @include media('<xsmall') {
      .tableFooter {
         font-size: 12px;

         .buttonTable {
            span {
               display: none;
            }
         }
      }
   }
}
.btnCreate {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: $third;
   padding: 9px;
   border-radius: 6px;
   color: $white;
   border: none;

   cursor: pointer;

   .buttonIcon {
      margin-right: 6px;
   }

   .buttonTitle {
      font-size: 18px;
      font-weight: bold;
      margin: 0 6px;
   }

   &:hover {
      -webkit-box-shadow: $iconShadowDark;
      box-shadow: $iconShadowClear;
   }

   &:active {
      transform: scale(1.02);
   }

   @include media('<tablet') {
      width: 36px;
      height: 36px;
      padding: 6px;
      border-radius: 50%;

      .buttonIcon {
         margin-right: 0;
      }

      .buttonTitle {
         display: none;
      }
   }
}
